<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：改成你自己的 Mapper 接口全路径 -->
<mapper namespace="com.fast.system.mapper.UserMapper">
    <!-- 创建 resultMap -->
    <resultMap id="UserResult" type="com.fast.system.domain.User">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="sex" property="sex"/>
        <result column="avatar" property="avatar"/>
        <result column="password" property="password"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="selectByUserName" resultMap="UserResult" parameterType="String">
        select user_id,user_name,sex,avatar,password,create_time
        from user where user_name = #{userName}
    </select>


</mapper>